
// Colors

$color-background-primary: hsl(220, 43%, 14%); // #141E32
$color-background-dark: hsl(220, 21%, 8%); // #11141A

$color-border-primary: hsl(220, 42%, 41%); // #3C5994

$color-button-primary: hsl(220, 42%, 22%); // #202F4E
$color-button-green: hsl(134, 70%, 43%); // #21BA45

$color-info-alert: hsl(266, 100%, 96%); // #F3EAFF
$color-info-address: hsl(221, 95%, 93%); // #DBE6FE