.LongVault-form {
  max-width: 32rem;
  margin: 1rem 0;
  padding: 1rem;
  background-color: #202f4e;
  border: 1px solid #3c5994;
  border-radius: 3px;
}

.LongVault-form-heading {
  margin: 0 0 0.5rem;
  display: block;
  font-size: 20px;
  font-weight: bold;
}

.LongVault-form label {
  color: white !important;
}