.LongVaultHeader {
  max-width: 64rem;
  min-height: 6rem;
  margin: 0.64rem auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #141e32;
  border: 2px solid #202f4e;
  border-radius: 3px;
  color: white;
}

.LongVaultHeader h1 {
  margin: 0;
}

.LongVaultHeader-info {
  flex: 0 0 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 1rem;
}

.LongVaultHeader-info .Network,
.LongVaultHeader-info .LongVaultHeader-signer {
  padding: 0.64rem 1rem;
  background-color: #202f4e;
  border: 1px solid #3c5994;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
}

.LongVaultHeader-info .Network {
  margin-right: 1rem;
}

/* .LongVaultHeader-info .LongVaultHeader-signer {} */